altgraph==0.17.4
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.6
packaging==24.0
pefile==2023.2.7
pillow==10.2.0
pyinstaller==6.5.0
pyinstaller-hooks-contrib==2024.3
PyJWT==2.8.0
pywin32-ctypes==0.2.2
requests==2.31.0
setuptools==69.2.0
ttkbootstrap==1.10.1
urllib3==2.2.1
